/* ******************* Components ***************** */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ******************************* */


/* Global elements */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: lato;
}

body {
    min-width: 100%;
    min-height: 100vh;
}


/* ************************* */


/* black and blue background */

.background {
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
    background: #161724;
}

.green-shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 84%, 100% 40%, 100% 100%, 0% 100%);
    background: #10c8cc;
}


/* ******************************** */


/* the big white box */

.big-box-text {
    width: 65%;
    height: 75vh;
    left: 50%;
    background: white;
    z-index: 3;
    border-radius: 2rem;
}

.small-box-text {
    /* positioning the *content* of white box */
    position: absolute;
    width: 80%;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: solid red 2px; */
    /* centering the content */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* your name */

.name {
    font-size: 5rem;
    margin-top: 1.5rem;
}


/* blue line under the name */

.name::after {
    content: "";
    display: block;
    border-bottom: solid #10c8cc .5rem;
    width: 60%;
    margin: 0 auto;
}


/* job title */

.job {
    font-size: 2.7rem;
    margin-bottom: 2.5rem;
    /* border: solid red 2px; */
}

.avatar-details {
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6.5rem;
}

.text {
    width: 50%;
    /* border: solid green 2px; */
}

.avatar {
    max-width: 15rem;
}


/* about me text */

.details {
    width: 80%;
    text-align: justify;
    font-size: 1.3rem;
}


/* ******************************** */


/* Slid-in social Medias */

.slide {
    position: relative;
}

.box {
    position: fixed;
    min-height: 100vh;
    left: -17rem;
    /* border: solid red 2px; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 25rem;
    height: 8rem;
    border-radius: 20% 20% /80% 80%;
    background: #dedfdf76;
    padding: 1.2rem;
    /* border: solid red 5px; */
}

.small-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    text-decoration: none;
    border-radius: 50%;
    background: #161724;
    padding: 3rem;
}

.small-box p {
    color: white;
    font-size: 2.4rem;
    padding-right: 1rem;
}

i {
    font-size: 4.2rem;
    color: #fff;
}


/* social media on hover */

.small-box:hover {
    transition: all .4s;
}

@media only screen and (min-width: 767px) {
    .small-box:hover {
        animation: slide .7s forwards;
        backdrop-filter: blur(10px);
        background: rgba(128, 128, 128, 0.803);
    }
}

@media only screen and (max-width: 767px) {
    .small-box:hover {
        transform: scale(1.2);
    }
}

.small-box:hover .twitter {
    color: #33abdf;
    transition: all .5s;
}

.small-box:hover .instagram {
    background: linear-gradient(200deg, #515bd4 15%, #8134af 40%, #dd2a7b 60%, #f58529 80%, #feda77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
}

.small-box:hover .youtube {
    color: #f70000;
    transition: all .5s;
}


/* ********************************* */


/* media queries */


/* big tablet to 1200px(widths smaller than 1140 row */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 65%;
    }
}


/* small tablet to big tablet : from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    html {
        font-size: 59%;
    }
    .big-box-text {
        left: 56%;
    }
}


/* small phone to small tablet : from 481px to 767px */

@media only screen and (max-width: 767px) {
    html {
        font-size: 38%;
    }
    .center {
        top: 42%;
    }
    .green-shape {
        clip-path: polygon(0 74%, 100% 50%, 100% 100%, 0% 100%);
    }
    /* big box text */
    .big-box-text {
        left: 50%;
    }
    .small-box-text {
        /* border: solid red 2px; */
        max-height: 80vh;
    }
    .avatar-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
        /* border: solid blue 2px; */
        max-height: 50vh;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: solid green 2px; */
        margin-top: 3rem;
        width: 85%;
    }
    .details {
        font-size: 2rem;
    }
    /* social media */
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        position: fixed;
        /* centering the black social media box */
        left: 50%;
        transform: translateX(-50%);
        bottom: 5rem;
        width: 80%;
        min-height: 9vh;
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #161724;
        border-radius: 2rem;
    }
    .small-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        height: auto;
        background: transparent;
    }
    .small-box p {
        display: none;
    }
    .small-box a {
        position: absolute;
        background: white;
        padding: 4.1rem;
    }
    i {
        color: #161724;
        font-size: 6rem;
    }
}


/* small phones : from 0 to 480px */

@media only screen and (max-width: 480px) {
    html {
        font-size: 23%;
    }
    .box {
        min-height: 6vh;
    }
    .name {
        margin: 8rem 0;
        /* border: solid red 2px; */
    }
    .avatar-details {
        height: 60%;
        /* border: solid red 2px; */
    }
}


/* ************************** */


/* slide snimation in big screen */

@keyframes slide {
    0% {
        transform: translateX(11rem);
    }
    75% {
        transform: translateX(9rem);
    }
    100% {
        transform: translateX(11rem);
    }
}


/* ****************************** */
